<div class="container">
  <h1 style="color: skyblue;">Welcome to Movie App</h1>
    <nav class="navbar navbar-default">
        <ul class="nav navbar-nav">
            <li>
                <a routerLinkActive="active" routerLink="addMovie">Add Movies</a>
            </li>
            <li>
                <a routerLinkActive="active" routerLink="searchMovie">Search Movie</a>
            </li>
        </ul>
    </nav>

  <router-outlet></router-outlet>
</div>
