
    <div class="col-md-7">
      
        <form class="border border-light p-5" [formGroup]="this.movService.myForm" (ngSubmit)="onSubmit()">

            <p class="h4 mb-4">Add Movie</p>
            <input formControlName="moviesId" type="hidden" class="form-control">
            <div class="form-group">
                <label for="movie name">Movie Name</label>
                <input type="text" formControlName="moviesName" id="moviesName" class="form-control" placeholder="Movie Name" [ngClass]="{'is-invalid':submitted && formControls.moviesName.errors}">
                
                <div class="invalid-feedback" *ngIf="submitted && formControls.moviesName.errors?.required">
                    Movie Name is required!!
                </div>
                <div class="invalid-feedback" *ngIf="submitted && formControls.moviesName.errors?.pattern">
                    Movie Name should be only alphanumeric!!
                </div>
            </div>
            <div class="form-group">
                <label for="movie name">Movie Rating</label>
                <input type="text" formControlName="moviesRating" id="rating" class="form-control" placeholder="Rating"
                [ngClass]="{'is-invalid':submitted && formControls.moviesRating.errors}">

                <div class="invalid-feedback" *ngIf="submitted && formControls.moviesRating.errors?.required">
                    Movie Rating Required!!
                </div>
                <div class="invalid-feedback" *ngIf="submitted && formControls.moviesRating.errors?.pattern">
                    Movie Rating should be number btween 1-5!!
                </div>

            </div>

            <div class="form-group">
                <label for="movie name">Movie Category</label>
                <select formControlName="moviesGenre" class="form-control" [ngClass]="{'is-invalid':submitted && formControls.moviesGenre.errors}">
                    
                    <option value="Drama">Drama</option>
                    <option value="Fiction">Fiction</option>
                    <option value="Satire">Satire</option>
                </select>
                <div class="invalid-feedback" *ngIf="submitted && formControls.moviesGenre.errors">
                    Select Movie Category!!
                </div>
            </div>

            <div class="form-group">
                <button class="btn btn-info  my-4" type="submit">Add Movie</button>
            </div>


        </form>
        <div class="alert alert-info" *ngIf="success">Movie Added Successfully...</div>
    </div>
