<div class="col-md-7">
    <div class="form-group">
        <label for="movie name">Movie Category</label>
        <select required class="form-control mb-4" name="movieCat" [(ngModel)]="movieCategory" #movieCat="ngModel">
            <option value="Drama">Drama</option>
            <option value="Fiction">Fiction</option>
            <option value="Satire">Satire</option>
        </select>
        {{movieCategory}}
    </div>

    <div *ngIf="movieCat.touched && movieCat.invalid" class="alert alert-danger">Movie Category Required!! </div>
    <div class="form-group">
        <button class="btn btn-info" [disabled]="movieCat.invalid" type="submit" (click)="searchMovie()">Search
            Movie</button>
    </div>


    <div *ngIf="submitted">
        <table border="1">
            <tr>
                <th>Movie Name</th>
                <th>Movie Rating</th>
            </tr>
            <tr *ngFor="let movie of searchData">
                <td>{{movie.moviesName}}</td>
                <td>{{movie.moviesRating}}</td>
            </tr>
        </table>
    </div>
    <div *ngIf="notFound">
        <div class="alert alert-info">Data Not found</div>
    </div>
</div>